@using GameStore.WebUI.Models
@using GameStore.WebUI.HtmlHelpers
@model GamesListViewModel

@{
    ViewBag.Title = "Games";
}

@foreach (var game in @Model.Games)
{
    <div>
        <h3> @game.Name </h3> 
        <p>@game.Description</p>
        <h4>@game.Price.ToString("# rub")</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.pagingInfo, x => Url.Action("List", new { page = x }))
</div>